@import "../../sass/mixins.scss";

.employee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.emp-box {
  width: calc(25% - 15px);
}

.emp-box__head {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: all ease 0.4s;
}

.emp-box__head-img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.emp-box__body {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}

.emp-box__body-list {
  @include list-unstyled;
}

.emp-box__body-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.emp-box__body-name {
  margin: 0;
  font-size: 1.5em;
  color: #282b41;
  width: 80%;

  &::first-letter {
    text-transform: uppercase;
  }
}

.emp-box__body-num {
  display: inline-block;
  padding: 2px 8px;
  font-size: 1.2em;
  border-radius: 8px;
  color: #fff;
}

.emp-box__wrapper-title {
  text-align: center;
  font-size: 2.1em;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.num--danger {
  background-color: #ff3c2f;
}

.num--info {
  background-color: #a6b1e1;
}

.num--secondary {
  background-color: #b7c4cf;
}

.num--success {
  background-color: #62d2a2;
}
