@import "~antd/dist/antd.css";
@import "bootstrap/dist/css/bootstrap.min.css";

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  height: 100%;
}

::selection {
  background-color: #5f63f2;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: none;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.action-icon,
.anticon-eye {
  font-size: 1.2em !important;
  transition: all ease 0.4s !important;
  color: #fff !important;
}

.action-btn--edit {
  background-color: #5f63f2 !important;
}

.action-btn--del {
  background-color: #ff3c2f !important;
}

.action-btn--eye {
  background-color: #5bcafa !important;
  color: #fff !important;
}
