.home-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.home-info__box {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  min-height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
}

.home-info__icon {
  font-size: 6em;
  color: #5f63f2;
}

.home-info__holder {
  width: 40%;

  &:last-child {
    width: 60%;
  }
}

.home-info__num {
  display: block;
  color: #5f63f2;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 12px;
}

.home-info__name {
  margin: 0;
  margin-bottom: 5px;
  color: #868eae;
  font-size: 1.4em;
  text-transform: uppercase;
}

.home-info__detail {
  color: #868eae;
  font-size: 1.2em;
}

.home-chart {
  margin-top: 30px;
}

.home-chart {
  margin-top: 30px;
}

.home-chart__holder {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}
